$main: #0064bd;

.content-banner{
  background: #000 url(../img/audirs4.jpg) no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.content-body{
  float: none;
  margin: 0 auto;
  height: 1000px;
  background: #f7f7f7;
  margin-top: -100px;
}
